/* Responsive Design */
@media (max-width: 1024px) {
  .container {
    width: 80%;
    height: 25rem;
  }

  .name,
  .score {
    font-size: 1.5rem;
  }

  .image {
    width: 40%;
  }

  .icons {
    top: 27rem;
    left: 50%;
    font-size: 3.3rem;
    flex-direction: row;
  }

  .newBtn {
    top: 35rem;
    left: 50%;
    font-size: 1.9rem;
    padding: 1.3rem;
  }

  .shortcutBtn {
    display: none;
  }

  .modal,
  .modal2 {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    width: 90%;
    background-color: white;
    padding: 3rem 1rem;
    border-radius: 5px;
    z-index: 10;
  }
  .inputHolder {
    flex-direction: column;
    /* border: 1px solid #0d47a1; */
    gap: 1rem;
  }

  .editField {
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    border: 1px solid #0d47a1;
    outline: none;
    width: 100%;
    border-radius: 5px;
  }

  #editNameBtn {
    width: 100%;
    cursor: pointer;
    border: 1px solid #212121;
    color: #000;
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
  }

  .modalBtn {
    margin: 0 auto;
    top: 46rem;
    left: 36%;
    padding: 1rem 2.3rem;
    font-size: 2rem;
    border-radius: 5px;
  }

  .footer {
    font-size: 2.2rem;
    margin-top: 22rem;
    padding: 0.8rem auto;
  }
}

@media (max-width: 778px) {
  .container {
    width: 95%;
    margin: 3rem auto;
    width: 90%;
    height: auto;
  }

  .player {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
  }

  .name,
  .score {
    font-size: 1.3rem;
  }

  .image {
    width: 50%;
  }

  .icons {
    top: 18rem;
    left: 50%;
    font-size: 3rem;
    flex-direction: row;
  }

  .newBtn {
    top: 25rem;
    left: 50%;
    font-size: 1.3rem;
    padding: 1rem;
  }

  .modalBtn {
    top: 36rem;
    left: 30%;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
  }

  .footer {
    font-size: 1.6rem;
    margin-top: 20rem;
    padding: 0.8rem auto;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
    margin: 3rem auto;
  }

  .player {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
  }

  .name,
  .score {
    font-size: 1.2rem;
  }

  .image {
    width: 60%;
  }

  .icons {
    top: 18rem;
    left: 50%;
    font-size: 3rem;
    flex-direction: row;
  }

  .newBtn {
    top: 25rem;
    left: 50%;
    font-size: 1.3rem;
    padding: 1rem;
  }

  .modalBtn {
    top: 36rem;
    left: 30%;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
  }

  .footer {
    font-size: 1.3rem;
    margin-top: 20rem;
    padding: 0.8rem auto;
  }
}

@media (max-width: 321px) {
  .newBtn {
    top: 25rem;
    left: 50%;
    font-size: 1rem;
    padding: 1rem;
  }
}
