/* Responsive Design */
@media (max-width: 1024px) {
  .container {
    width: 80%;
    height: 25rem;
  }

  .name,
  .score {
    font-size: 1.5rem;
  }

  .image {
    width: 40%;
  }

  .icons {
    top: 35rem;
    left: 50%;
    font-size: 3rem;
    flex-direction: row;
  }

  .newBtn {
    top: 27rem;
    left: 50%;
    font-size: 1.9rem;
    padding: 1.3rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    margin: 3rem auto;
    width: 90%;
    height: auto;
  }

  .player {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
  }

  .name,
  .score {
    font-size: 1.3rem;
  }

  .image {
    width: 50%;
  }

  .icons {
    top: 26rem;
    left: 50%;
    font-size: 3rem;
    flex-direction: row;
  }

  .newBtn {
    top: 17rem;
    left: 50%;
    font-size: 1.3rem;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
    margin: 3rem auto;
  }

  .player {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
  }

  .name,
  .score {
    font-size: 1.2rem;
  }

  .image {
    width: 60%;
  }
  .icons {
    top: 25rem;
    left: 50%;
    font-size: 3rem;
    flex-direction: row;
  }

  .newBtn {
    top: 18rem;
    left: 50%;
    font-size: 1.3rem;
    padding: 1rem;
  }
}
