* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5; /* Light Gray */
  color: #212121; /* Black */
}

.container {
  position: relative;
  width: 60%;
  height: 30rem;
  border: 1px solid #424242; /* Charcoal Gray */
  background-color: #ffffff; /* White */
  display: flex;
  margin: 3rem auto;
}

.player {
  width: 100%;
  padding-top: 9rem;
  text-align: center;
}

.computer-player {
  border-left: 1px solid #0d47a1; /* Deep Blue */
}

.image {
  width: 30%;
  margin: 1.3rem auto;
  border: 2px solid #0d47a1; /* Deep Blue */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.image i {
  font-size: 3rem;
}

.icons {
  position: absolute;
  font-size: 2rem;
  color: #0d47a1; /* Deep Blue */
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  gap: 3rem;
}

button {
  position: absolute;
  cursor: pointer;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #212121; /* Black */
  color: #ffffff; /* White */
  border: 1px solid #424242; /* Charcoal Gray */
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

button:hover {
  background-color: #0d47a1; /* Deep Blue */
  color: #ffffff; /* White */
}

.button {
  background-color: #424242; /* Charcoal Gray */
  cursor: pointer;
  color: #ffffff; /* White */
  padding: 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: #90caf9; /* Soft Blue */
}


